
@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using OnlineShop.Models
@model BasketViewModel


<div id="result">
    @if (Model.Orders != null)
    {
        <div class="container">
            <div class="check-out">
                <div class="bs-example4" data-example-id="simple-responsive-table">
                    <div class="table-responsive">
                        <table class="table-heading simpleCart_shelfItem">
                            <tr>
                                <th class="table-grid">Товар</th>

                                <th>Цена</th>
                                <th>Количество</th>
                                <th>Стоимость</th>
                            </tr>

                            @foreach (var item in Model.Orders)
                            {
                                <tr class="cart-header">
                                   
                                    <td class="ring-in">
                                         <a class="but-del" href="@item.Product.Id.ToString().Insert(0, "/Baskets/DeleteProduct/")" ><img src="~/Content/images/layer/close.png" alt="" ></a>
                                         
                                       
                                        <a href="@item.Product.Id.ToString().Insert(0, "/Products/ProductInfo/")" class="at-in"><img src="@item.Product.Images[0].Substring(1).Insert(0, "../..")" class="img-responsive" alt=""></a>
                                        <div class="sed">
                                            <h5>@Html.ActionLink(@item.Product.Title, "ProductInfo", "Products", new { id = @item.Product.Id.ToString() }, null)</h5>
                                            <p>(@item.Product.Description ) </p>

                                        </div>
                                        <div class="clearfix"> </div>
                                       
                                    </td>
                                    <td>@item.Product.Price</td>
                                    <td>@item.Count</td>
                                    <td class="item_price">@item.Summ грн</td>
                                </tr>
                            }
                   
            
            
                    </table>

                
        </div>
        </div>
        </div>
        </div>
            <div class="produced">
                <h4>Общая сумма: <b>@Model.Summ</b></h4>
                <br />
                <a href="single.html" class="hvr-skew-backward">Оформить заказ</a>
            </div>
    }
    else
    {
    <div class="container">
        <div class="check-out">
            <div class="bs-example4" data-example-id="simple-responsive-table">
                <div class="content-mid">
                    <h3>Корзина пуста</h3>
                    <label class="line"></label>
                    </div>

                </div>
            </div>
        </div>
        
      }
                </div>
               

<br/>
<br/>
<br/>

<script>
    $('.but-del').click(function(){return confirm("Вы уверены, что хотите удалить этот продукт из корзины?")});

</script>